[Desktop Entry]
Encoding=UTF-8
Name=VOLVOX
Comment=VOLVOX P2P Cryptocurrency
Comment[fr]=VOLVOX, monnaie virtuelle cryptographique pair à pair
Comment[tr]=VOLVOX, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/VOLVOX-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/VOLVOX80.xpm
MimeType=x-scheme-handler/VOLVOX;
Categories=Office;
